.page {
  width: 100%;
  height: 100%;
}


/* Nav */
.topnav {
  text-align: center;
  justify-content: center;
  padding: 15px;
  padding-right: 30px;
  display: flex;
}
.topnav a:hover{
  text-decoration: underline;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.topnav__list {
  list-style: none;
  align-items: center;
  justify-content: flex-end;
}
.topnav__profile{
  height: 32px;
  width: 32px;
  border-radius: 50%;
  position: relative;
}

.topnav__profile a {
  width: 100%;
  height: 100%;
  display: flex;
  background-image: url("https://avatars.githubusercontent.com/u/73883967?s=460&u=e6f642f0809f6eb67e584143a4096e979faf4f36&v=4");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50;
}
.page {
  width: 100%;
  height: 100%;
}
.francais {
  text-align: center;
  padding-top: 15px;
}
.main{
}
.search {
  text-align: center;
  justify-content: center;

}
h1 {

}
body {
}

/* Footer */
.footer {
display: flex;
text-align: center;
padding: 15px;
}


.button {
  background-color: #999999;
  border: none;
  color: black;
  font-size: 14px;
  font-family: arial, sans-serif;
  color: #bdc1c6;
  margin: 0;
  padding: 15px 32px;
}
}
