/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Declaring variables */
:root {
  --border-color: #ddd;
  --button-search-font: #3c4043;
  --button-search-background: #f8f9fa;
  --footer-background: #f2f2f2;
  --footer-font: #70757a;
  --footer-font-hover: #3c4043;
  --footer-font-active: #ea4335;
}

.page {
  width: 100%;
  height: 100%;
}

/* Ul Formatting for Navigation Bar+Footer */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Navigation Bar */
.topnav {
  text-align: center;
  justify-content: center;
  padding: 15px;
  padding-right: 30px;
  display: flex;
}
.topnav a:hover{
  text-decoration: underline;
}

.topnav__list {
  list-style: none;
  align-items: center;
  justify-content: flex-end;
}
.topnav__profile{
  height: 32px;
  width: 32px;
  border-radius: 50%;
  position: relative;
}

.topnav__profile a {
  width: 100%;
  height: 100%;
  display: flex;
  background-image: url("https://avatars.githubusercontent.com/u/73883967?s=460&u=e6f642f0809f6eb67e584143a4096e979faf4f36&v=4");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
}
/* Image */
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50;
}
/* Search */
.search {
  display: flex;
  text-align: center;
  justify-content: center;
  width: 580px;
  padding: 1rem;
  padding-right: 1.5rem;
  border: 0.1px solid var(--border-color);
  border-radius: 30px;
}

/* French */
.francais {
  text-align: center;
  padding-top: 15px;
}
/* Button*/
button {
  display: flex;
  text-align: center;
  justify-content: center;
  border: none;
  font-family: inherit;
  cursor: pointer;

}
.buttonsearch {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 54px;
  height: 36px;
  padding: 0 2rem;
  border: 1px solid transparent;
  border-radius: 5px;
  margin: 0.7rem;
  background-color: var(--button-search-background);
  color: var(--button-search-font);
  font-size: 1.4rem;
  margin-top: 2.4rem;
}

h1 {

}
body {
}

/* Footer */
.footer {
display: flex;
text-align: center;
padding: 15px;
}
