/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Declaring variables */
:root {
  --border-color: #ddd;
  --button-search-font: #3c4043;
  --button-search-background: #f8f9fa;
  --footer-background: #f2f2f2;
  --footer-font: #70757a;
  --footer-font-hover: #3c4043;
  --footer-font-active: #ea4335;
}

.page {
  width: 100%;
  height: 100%;
}

/* Ul Formatting for Navigation Bar+Footer */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Navigation Bar */
.nav{
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
.leftalign {
  float: left;
}
.rightalign {
  float: right;
}
.topnav__profile{
  height: 32px;
  width: 32px;
  border-radius: 50%;
  position: relative;
}

/* List items for navigation bar + footer */
li {
  display: inline;
  font-family: arial, sans-serif;
  font-size: 14px;
  margin: 5px;
}

li a {
    text-decoration: none;
}

li a {
    color: rgb(68, 68, 70);
    text-decoration: none;
    padding-right: 5px;
  }

li a:hover {
     text-decoration: underline;
  }
/* Image */
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50;
  margin-top: 180px;
  margin-bottom: 20px;
}
/* Search */

.center {
    margin: auto;
}
.searchbar {
  position: relative;
  display: flex;
  width: 500px;
}

.search-icon {
   position: absolute;
   top: -175px;
   left: 8px;
   width: 14px;
 }
 .mic-icon {
    position: absolute;
    top: -180px;
    right: 5px;
    width: 25px;
    cursor: pointer;
  }
  .search {
    border: 1px solid grey;
    border-radius: 5px;
    height: 20px;
    width: 500px;
    border-radius: 50px;
    margin-bottom: 20px;
    padding: 2px 23px 2px 30px;
    outline: 0;
    text-align: center;
  }

  .search:hover, .search:focus {
    border: 1.5px solid #009688;
    background-color: white;
  }
/* French */
.francais {
  text-align: center;
  margin-top: 30px;
}
/* Button */
.search__buttons{
	background-color:#f1ededec;
     width: 130px;
     height: 35px;
     color: rgb(106, 106, 107);
     font-family: Arial, Helvetica, sans-serif;
     font-size: 10pt;
     border-radius: 4px;
     border: none;
     margin: none;
}

.submitbuttons{
  text-align: center;
}

h1 {

}
body {
}

/* Footer */
.footer {
  background-color:#f2f2f2;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-width: .5pt;
  border-style: solid;
  border-color: rgb(236, 235, 235)
}
.grey {
    color: rgb(106, 106, 107);
}
.footerright {
    float: right;
    padding-right: 20px;
}

.footerleft {
    float: left;
    padding-left: 20px;
}
